<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalhes do Aluno</title>
</head>
<body>
    <h1>Detalhes do Aluno</h1>
    <p><strong>Nome:</strong> {{ aluno.name }}</p>
    <p><strong>Email:</strong> {{ aluno.email }}</p>
    <p><strong>Endereço:</strong> {{ aluno.address }}</p>
    <p><strong>Data de Nascimento:</strong> {{ aluno.date_of_birth }}</p>
    <!-- Adicione mais informações conforme necessário -->
    <a href="{% url 'aluno' %}">Voltar para a lista de alunos</a>
</body>
</html>
