<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Alunos</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }

        table, th, td {
            border: 1px solid black;
        }

        th, td {
            padding: 8px;
            text-align: left;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    <h1>Lista de alunos</h1>
    <a href="{% url 'criar_aluno' %}">Criar aluno</a>
    <table>
        <thead>
            <tr>
                <th>Nome</th>
                <th>Email</th>
                <th>Endereço</th>
                <th>Ações</th> <!-- Nova coluna para botões de ação -->
            </tr>
        </thead>
        <tbody>
            {% for aluno in alunos %}
            <tr>
                <td><a href="{% url 'detalhes_aluno' aluno.pk %}">{{ aluno.name }}</a></td>
                <td>{{ aluno.email }}</td>
                <td>{{ aluno.address }}</td>
                <td>
                    <a href="{% url 'edit_aluno' aluno.pk %}">Editar</a>
                    <a href="{% url 'excluir_aluno' aluno.pk %}">Excluir</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>